[MBDiscordLink]
database_url = test
roles-to-sync%json = {"staff": "staff_discord_id", "test": "test"}

[MagiBridge]
main-discord-channel = discord_channel_id
bot-token = token

[LuckPerms]
address = localhost
database = minecraft
username = root
password = password

[EpicBanItem]
pass = pass

[Paths]
MBDiscordLink = mbdiscordlink
MagiBridge = magibridge
LuckPerms = luckperms
EpicBanItem = epicbanitem

[ConfigFiles]
MBDiscordLink = MBDiscordLink
MagiBridge = MagiBridge
LuckPerms = luckperms
EpicBanItem = banitem
